.dashboard-container{
    // background-color: red;
    width: 100%;
    height: 100%;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-btns{
    // background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 99%;
    height: 20rem;
}

.dashboard-btn{
    // background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #353a3f solid 2px;
    border-radius: 0.5rem;
    width: 20rem;
    height: 15rem;
    cursor: pointer;
    &:hover{
        background: #353a3f;
        border: #52b7be solid 0.3rem;
    }
}

.dashboard-btn-img{
    width: 10rem;
}

.dashboard-btn-txt{
color: white;
font-size: 1.5rem;
}