@import "./common";

.header-container {
  // background-color: white;
  width: 100%;
  height: 4.5rem;
  // position: absolute;
}
.header-grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 6% 79% 15%;
}
.header-grid-logo{
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.header-grid-menu{
  // background-color: red;
 
}
.header-grid-user{
  // background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-user-icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  // background-color: red;
}
.header-user-icon {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: #52b7be solid 2px;
}
// .header-user-icon {
//   width: 2rem;
//   height: 2rem;
//   // border-radius: 50%;
//   margin-right: 0.5rem;
// }
.header-user-text {
  color: #75828d;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.img-community {
  width: 3rem;
}
