@import "../styles/common";

.img-login {
  width: 10rem;
}
.txt-login {
  color: white;
  font-family: courier;
  font-size: 20px;
}
.input-login {
  border-radius: 0.6vw;
  width: 35rem;
  height: 2.8rem;
  border: none;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
}
.txt-forgot {
  color: deepskyblue;
  font-style: italic;
  font-size: 12px;
  width: 35rem;
}

.btn-login {
  border-radius: 0.6rem;
  width: 18rem;
  height: 2.8rem;
  border: none;
  color: white;
  background-color: #566573;
  text-align: center;
  font-size: 18px;

  &:hover {
    color: $main-background;
  }
}
.btn-create {
  border-radius: 0.6rem;
  border: #566573 solid 1px;
  width: 18rem;
  height: 2.8rem;
  color: white;
  background: none;
  text-align: center;
  font-size: 18px;

  &:hover {
    color: #566573;
  }
}
