@import "./common";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: relative;
  background: $main-background;
  border-radius: 5px;
  border: rgb(39, 42, 46) solid 2px;
  padding: 0px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 8px 8px;
  z-index: 1;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}

.title {
  color: #75828d;
  font-size: 25px;
  margin-bottom: 40px;
}
