.paysecurity-container{
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}
.paysecurity-grid{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 99%;
  height: 10rem;
  margin-bottom: 1rem;
  // background-color: red;
}
.paysecurity-seach{
  // background-color: blue;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #566573 solid 0.1rem;

}

.paysecurity-title-search{
  display: flex;
  justify-content: center;
}
.payseacurity-title-search-text{
  color: #52b7be;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.payseacurity-input-search {
  border-radius: 0.5rem;
  width: 23rem;
  height: 1.8rem;
  border: none;
  padding-left: 0.5rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1.5rem;
}

.payseacurity-button-search {
  border-radius: 0.6rem;
  width: 10rem;
  height: 2rem;
  border: none;
  color: white;
  background-color: #566573;
  text-align: center;
  font-size: 1rem;

  &:hover {
    color: $main-background;
  }
}
.paysecurity-inf{
  // background-color: yellow;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #566573 solid 0.1rem;
}
.paysecurity-inf-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.paysecurity-inf-grid-cont{
  display: flex;
  align-items: center;
  width: 100%;
}
.paysecurity-inf-sention{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.paysecurity-inf-subtitle{
  font-size: 1rem;
  color: #ffc75f;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  font-weight: bold;
}
.paysecurity-inf-text{
  color: white;
  margin-bottom: 0.3rem;
  margin-left: 0.8rem;
}
.payseacurity-title-inf-text {
  color: #52b7be;
  font-weight: bold;
  // margin-top: 0.2rem;
  // margin-bottom: 0.3rem;
}
.paysecurity-year{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: red;
  color: #ffc75f;
  font-size: 3rem;
}

.paysecurity-datagrip{
  display: flex;
  width: 99%;
  height: 100%;
}
.paysecurity-datagrip-grid{
 display: grid;
 grid-template-columns:  4% 12% 8% 8% 8% 8% 36% 8% 8%;
 width: 100%;
}
.paysecurity-datagrip-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2rem;
  color: #ffc75f;
  font-weight: bold;
  border: #566573 solid 0.1rem;
}
.paysecurity-datagrip-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2.3rem;
  color: white;
  border: #566573 solid 0.1rem;
}