.img-login {
  width: 10rem;
}

.txt-login {
  color: white;
  font-family: courier;
  font-size: 20px;
}

.input-login {
  border-radius: 0.6vw;
  width: 35rem;
  height: 2.8rem;
  border: none;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
}

.txt-forgot {
  color: deepskyblue;
  font-style: italic;
  font-size: 12px;
  width: 35rem;
}

.btn-login {
  border-radius: 0.6rem;
  width: 18rem;
  height: 2.8rem;
  border: none;
  color: white;
  background-color: #566573;
  text-align: center;
  font-size: 18px;
}

.btn-login:hover {
  color: #212529;
}

.btn-create {
  border-radius: 0.6rem;
  border: #566573 solid 1px;
  width: 18rem;
  height: 2.8rem;
  color: white;
  background: none;
  text-align: center;
  font-size: 18px;
}

.btn-create:hover {
  color: #566573;
}

.main-container {
  margin: auto;
  border: #566573 solid 1px;
  height: 15rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.tag-menu {
  margin: auto;
  margin-top: 100px;
}

.tag-style {
  width: 347px;
  background: none;
  border: #566573 solid 1px;
  height: 2.8rem;
  color: white;
  background: none;
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.tag-style:hover {
  color: #566573;
}

.logup-input {
  border-radius: 0.6vw;
  width: 25rem;
  height: 2.5rem;
  border: none;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
  background-color: white;
}

.header-container {
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.user-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 8px;
}

.user-text {
  margin-right: 20px;
  margin-top: 8px;
}

.flag-us {
  width: 2.7rem;
  height: 2.5rem;
  margin-right: 10px;
}

.flag-spain {
  width: 2.7rem;
  height: 2.5rem;
  margin-right: 10px;
}

.img-community {
  width: 5rem;
  margin-left: 20px;
}

.text-community {
  color: white;
  font-size: 10px;
  margin-left: 18px;
  margin-top: 5px;
  font-family: papyrus;
}

html,
body {
  height: 100%;
  background: #212529;
  overflow-y: hidden;
}
/*# sourceMappingURL=index.css.map */