@import "./login";
@import "./createperson";
@import "./header";
@import "./modal";
@import "./dataGrid";
@import "./paySecurity";
@import "./dashboard";

html,
body {
  height: 100%;
  background: #212529;
  overflow-y: hidden;
  overflow-x: hidden;
}
